<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add id="Ktree_TicketingSystem::ticketingsystem" title="Ticketing System" module="Ktree_TicketingSystem" sortOrder="51" resource="Ktree_TicketingSystem::ticketingsystem"/>
      <add id="Ktree_TicketingSystem::manage" title="Manage Tickets" module="Ktree_TicketingSystem" sortOrder="10" action="ticketingsystem/tickets/index" resource="Ktree_TicketingSystem::manage" parent="Ktree_TicketingSystem::ticketingsystem"/>
    </menu>
</config>
